<a href="https://colab.research.google.com/github/thewildchip/crispr-genie-lab/blob/main/off_target/00_data_loading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0) Data Loading for Off Target Model

In [1]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/dagrate/public_data_crisprCas9/refs/heads/main/data/kleinstiver2015/Kleinstiver_5gRNA_wholeDataset.csv")
df

                     sgRNA_seq                  off_seq  Read  label
0      GTCACCTCCAATGACTAGGGNGG  GTCtCCTCCAcTGgaTtGtGAGG     0      0
1      GTCACCTCCAATGACTAGGGNGG  GTCtCtTCCgATGAtgAGGGTtG     0      0
2      GTCACCTCCAATGACTAGGGNGG  GcgACCTCCAcTGtCTAGtGGGc     0      0
3      GTCACCTCCAATGACTAGGGNGG  GcgACCTCCAcTGtCTAGtGGGc     0      0
4      GTCACCTCCAATGACTAGGGNGG  GTCtCtTCCgATGAtgAGGGTtG     0      0
...                        ...                      ...   ...    ...
95824  GTGCGGCAAGAGCTTCAGCCNGG  GTGGGGCAAGAGGTTCAGCCTGG    23      1
95825  GTGCGGCAAGAGCTTCAGCCNGG  ATGGGGAAAGAGCTTCAGCCTGG    15      1
95826  GTGCGGCAAGAGCTTCAGCCNGG  GTGTGGCAAGAGCTTCAGCAGGA     6      1
95827  GTGCGGCAAGAGCTTCAGCCNGG  CTGTGGCAAGAGCTTCAGCCAGA     3      1
95828  GTGCGGCAAGAGCTTCAGCCNGG  GTGCGGCAAGAGCTTCAGCCAGA     2      1

[95829 rows x 4 columns]