<a href="https://colab.research.google.com/github/thewildchip/crispr-genie-lab/blob/main/off_target/00_data_loading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0) Data Loading for Off Target Model

## v0

In [17]:
from pathlib import Path
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from mypackage.utils import  *
from mypackage.config import *
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.metrics import accuracy_score, classification_report

In [18]:
off_target_data = DATA_RAW/"off_target.csv"
df = pd.read_csv(off_target_data)

In [19]:
df = df.dropna()
X = df[["sgRNA_seq", "off_seq", "Read"]]
y = df["label"]
df

                     sgRNA_seq                  off_seq  Read  label
0      GTCACCTCCAATGACTAGGGNGG  GTCtCCTCCAcTGgaTtGtGAGG     0      0
1      GTCACCTCCAATGACTAGGGNGG  GTCtCtTCCgATGAtgAGGGTtG     0      0
2      GTCACCTCCAATGACTAGGGNGG  GcgACCTCCAcTGtCTAGtGGGc     0      0
3      GTCACCTCCAATGACTAGGGNGG  GcgACCTCCAcTGtCTAGtGGGc     0      0
4      GTCACCTCCAATGACTAGGGNGG  GTCtCtTCCgATGAtgAGGGTtG     0      0
...                        ...                      ...   ...    ...
95824  GTGCGGCAAGAGCTTCAGCCNGG  GTGGGGCAAGAGGTTCAGCCTGG    23      1
95825  GTGCGGCAAGAGCTTCAGCCNGG  ATGGGGAAAGAGCTTCAGCCTGG    15      1
95826  GTGCGGCAAGAGCTTCAGCCNGG  GTGTGGCAAGAGCTTCAGCAGGA     6      1
95827  GTGCGGCAAGAGCTTCAGCCNGG  CTGTGGCAAGAGCTTCAGCCAGA     3      1
95828  GTGCGGCAAGAGCTTCAGCCNGG  GTGCGGCAAGAGCTTCAGCCAGA     2      1

[95829 rows x 4 columns]

In [20]:
df["sgRNA_seq"].str.len().unique() # is always 23

array([23])

## v1

### v1.0

In [21]:
df = onehot_encode_sequences(df, seq_col="sgRNA_seq", ending="_sgRNA")
df = onehot_encode_sequences(df, seq_col="off_seq", ending="_off_seq")
df

,Read,label,pos_0_A_sgRNA,pos_0_C_sgRNA,pos_0_G_sgRNA,pos_0_T_sgRNA,pos_1_A_sgRNA,pos_1_C_sgRNA,pos_1_G_sgRNA,pos_1_T_sgRNA,...,pos_20_G_off_seq,pos_20_T_off_seq,pos_21_A_off_seq,pos_21_C_off_seq,pos_21_G_off_seq,pos_21_T_off_seq,pos_22_A_off_seq,pos_22_C_off_seq,pos_22_G_off_seq,pos_22_T_off_seq
0,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
2,0,0,0,0,1,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95824,23,1,0,0,1,0,0,0,0,1,...,0,1,0,0,1,0,0,0,1,0
95825,15,1,0,0,1,0,0,0,0,1,...,0,1,0,0,1,0,0,0,1,0
95826,6,1,0,0,1,0,0,0,0,1,...,1,0,0,0,1,0,1,0,0,0
95827,3,1,0,0,1,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0
95828,2,1,0,0,1,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0

In [ ]:
drop_seq(df)
export_as_csv_and_pkl(df, "v1.0", DATA_PROCESSED_OFFTARGET)